.timeline {
  position: relative;
  background-size: cover; /* Ensure the image covers the entire container */
  border-radius: 10px; /* Optional: Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for better visibility */
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
  opacity: 1; /* Default opacity */
  transition: opacity 0.6s, transform 0.6s; /* Smooth transition for opacity and transform */
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  /* Adjust as needed */
  border-radius: 50%;
  top: 10px;
}

.timeline-content {
  background: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent background for readability */

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
